.menu li {
	list-style-type: none;
	padding: 0;
	margin: 0;
    display: inline;
}

h1 h2 h3 h4 h5 h6 {
    font-family: 'Times New Roman', Times, serif;
}

h3 {
    margin-bottom: 0px;
}

.db_path {
    margin: 0;
}